/*
 * This file is part of Dynamic RCH.
 *
 * Copyright 2015 Carlos Alegría Galicia
 *
 * Dynamic RCH is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or any later version.
 *
 * Dynamic RCH is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Dynamic RCH. If not, see <http://www.gnu.org/licenses/>.
 */
 
.point_maximal {
	-fx-fill: red;
}
.point_normal {
	-fx-fill: black;
}
.point:hover {
	-fx-stroke: greenyellow;
	-fx-stroke-type: outside;
	-fx-stroke-width: 3;
}

.component {
	-fx-fill: cadetblue;
	-fx-stroke: black;
	-fx-stroke-width: 1pt;
}
.overlap {
	-fx-fill: transparent;
	-fx-stroke: black;
	-fx-stroke-dash-array: 3 5;
	-fx-stroke-width: 1pt;
}
.first_staircase, .third_staircase {
	-fx-stroke: rgba(178,34,34,0.4);
	-fx-stroke-width: 5pt;
}
.second_staircase, .fourth_staircase {
	-fx-stroke: rgba(155,179,34,0.4);
	-fx-stroke-width: 5pt;
}
